<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <title>Assignment1</title>
    <link rel="stylesheet" href="bootstrap.css">
    <script src="angular.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
  <body>
    <div ng-controller="LunchCheckController">
      <h1>Lunch Items</h1>
      <div class="form-group">
        <input type="text" ng-model="lunchItems" class="form-control"
         placeholder="Enter comma separated lunch options">
      </div>
      <div class="form-group">
        <button class="btn btn-success" ng-click="onSubmit()">Check If Too Much</button>
      </div>

      <div class="alert alert-{{noticeType}}">
        {{msg}}
      </div>
    </div>
  </body>

</html>
